<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>O'Clock Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="columns">
      <div class="column is-full">
        <header>
          <h1 class="title is-1 has-text-centered">O'Clock Weather App:</h1>
        </header>
        <nav class="navbar">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item">
                <button class="button is-success is-outlined is-medium">
                  Accueil
                </button> 
              </a>
              <a href="/place" class="navbar-item">
                <button class="button is-success is-outlined is-medium">
                  Choisir un lieu
                </button> 
              </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <br>