<%- include('./partials/header') -%>
<div class="columns is-centered">
  <div class="column is-half">
    <form class="is-centered" action="" method="post">
      <input class="input is-success" name="place" placeholder="Nom ou Code Postal" type="text">
      <button class="choose-button button is-success is-medium" type="submit">Valider</button>
    </form>
  </div>
</div>
</body>
</html>